server.port: 8080



spring:
  application:
    name: monitor
  security:
    user:
      name: "admin"
      password: "admin"

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 10
    health-check-url-path: /actuator/health
    metadata-map:
      user.name: "admin"         #These two are needed so that the server
      user.password: "admin" #can access the protected client endpoints
  client:
    registryFetchIntervalSeconds: 5
    serviceUrl:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761}/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"  #<2>
  endpoint:
    health:
      show-details: ALWAYS

