version: '3'
services:
  jenkins:
    image: jenkins/jenkins:2.187-jdk11
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - jenkins:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
  jenkins:
    driver: local 